.mainnav ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mainnav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;

}
.mainnav ul a {
  text-decoration: none;
  color: black;
}

.title{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
